
<%= simple_form_for(@lift) do |f| %>
  <% if @lift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lift.errors.count, "error") %> prohibited this lift from being saved:</h2>

      <ul>
      <% @lift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <div class="form-actions">
           <%= f.button :submit, "Create", id:'log' %>
         </div>


<% end %>
