<h1><%= @lift.name %></h1>

<p><%= link_to 'Retour à la liste des ponts', lifts_path %></p>

<p><%= link_to 'Ajouter un nouveau point', new_lift_path(@lift)%></p>

<p>
  <strong>Nom :</strong>
  <%= @lift.name %>
</p>

<p>
  <strong>Adresse :</strong>
  <%= @lift.address %>
</p>

<%= link_to 'Edit', edit_lift_path(@lift) %> |
<%= link_to 'Back', lifts_path %>








